* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 18px/1.5 Georgia, 'Trebuchet MS';
}

/*Header Showcase*/
#header {
    height: 100vh;
    width: 100%;
    display: flex;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),#3f3f3f;
}

#header .hero-box {
    background: url('../images/hero.jpg') no-repeat 50% /cover;
    height: 100vh;
    width: 100%;
}

#header .hero-box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(255,255,0,0), rgba(0,0,0,0.6));
    z-index: 10;
}

/*Sunogel Logo*/
#header .logo {
    height: 75px;
    padding: 0 15px;
    line-height: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 200;
}

#header .logo svg {
    height: 50px;
    transition: .5s;
}

#header .logo a {
    display: flex;
    align-items: center;
}

/*Hero*/
#header .hero-box h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100;
    font-weight: 500;
    font-size: 1.6em;
    min-width: 550px;
    display: none;
}

#header .hero-box h1 span {
    color: #ff6500;
    text-shadow: 1px 1px 1px #000000, 9px 8px 0px rgba(0,0,0,0.15);
    font-weight: 600;
    display: none;
}

/*Js class additions for Logo & Nav*/
#header .logo a svg.fill {
    fill: #fff;
    margin-left: 15px;
    transition: .5s;
}

#header .nav-js {
    background: rgba(0,0,0,0.9);
    border-bottom: 3px solid #fff;
    transition: .5s;
}

#header .main-nav ul li a.nav-item-js {
    color: #fff;
    padding: 0 25px;
    height: 72px;
}

#header .main-nav ul li a.nav-item-js:hover {
    color: #fff;
    border-radius: 5px;
}

#header nav.main-nav ul li a.nav-item-js::before {
    border-bottom: transparent;
}

/*Navigation*/
#header .main-nav {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 999;
}

#header .main-nav .nav-menu {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#header .main-nav .nav-menu li {
    height: 75px;
    list-style: none;
}

#header .main-nav .nav-menu li a {
    height: 75px;
    padding: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s;
}

#header .main-nav .nav-menu li a:hover {
    color: #ff6500;
}

/*Nav Border Animation*/
#header .main-nav .nav-menu li a::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    border-bottom: 2px solid transparent;
}

#header .main-nav .nav-menu li a:hover::before {
    animation: animate .3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-bottom-color: transparent;
    }

    100% {
        width: 100%;
        border-bottom-color: #ff6500;
    }
}

#header .main-nav .nav-menu li a.nav-item-js:hover {
    background: linear-gradient(rgba(180,60,0,1), rgba(200,90,0,1));
}


/*Hamburger Icon*/
#header #hamburger {
    height: 75px;
    padding: 10px;
    font-size: 25px;
    display: none;
    line-height: 50px;
}

#header .fa-bars {
    cursor: pointer;
}


/*Main Home Page Content Wrap*/
body .main-wrapper {
    width: 100%;
    height: 1000px;
}


/*Home Section 1*/
.main-wrapper .section1 {
    height: 100%;
    border-top: solid 3px #ff6500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6)),#3f3f3f;
}

.main-wrapper .section1 .section1-box {
    height: 600px;
    width: 100%;
    padding: 25px; 
    display: flex;
    justify-content: space-around;
}

.main-wrapper .section1 .section1-box .flex-item {
    height: 600px;
    width: 800px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
}

.main-wrapper .section1 .section1-box .hide {
    display: none;
}

.main-wrapper .section2 .section2-box .hide {
    display: none;
}

.main-wrapper .section1 .section1-box img {
    padding: 15px;
}

.main-wrapper .section1 .section1-box p {
    color: #fff;
    padding: 15px;
    width: 100%;
}

/*Home Section 2*/
.main-wrapper .section2 {
    height: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid rgb(252, 49, 49);
    background-image: linear-gradient(to left, #ededed 1px, transparent 1px), linear-gradient(to bottom, #f6f6f6 1px, transparent 1px);
    background-size: 60px 60px;
}

.main-wrapper .section2 .section2-box {
    height: 600px;
    width: 100%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-wrapper .section2 .section2-text-box {
    text-align: center;
    position: relative;
    height: 150px;
    top: 0;
    color: rgb(252, 49, 49);
    padding: 15px;
}

.main-wrapper .section2 .section2-box .flex-item {
    height: 600px;
    width: 600px;
}

.main-wrapper .section2 .section2-text-box h2 {
    font-style: italic;
    font-size: 2em;
}

.main-wrapper .section2 .section2-text-box p {
    font-size: 1.2em;
}

.main-wrapper .section2-box img {
    border-radius: 50%;
    padding: 15px;
}

/*Home Section 3 -Social Media*/
.main-wrapper .section3 {
    height: 100px;
    width: 100%;
    background: linear-gradient(#bdc3c7, #3f3f3f);
    display: flex;
    justify-content: center;
}

.main-wrapper .section3 .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.main-wrapper .section3 .social-media h3 {
    margin-right: 60px;
    color: #ededed;
}

.main-wrapper .section3 .social-media a {
    margin: 0 6px;
}

.main-wrapper .section3 .social-media a .fa {
    font-size: 50px;
    color: #fff;
}


.main-wrapper .section3 .social-media a:hover .fa {
    font-size: 60px;
    transition: .2s;
} 

/*Footer*/
.main-wrapper footer {
    height: 35px;
    display: flex;
    align-items: center;
    background: #000000;
    border-top: 1px solid #fff;
}

.main-wrapper footer p {
    color: #f6f6f6;
    padding: 10px;
}


/*Media Queries*/
@media screen and (max-width: 1500px) {
    .main-wrapper .section1 .section1-box .flex-item {
        height: 400px;
        width: 500px;
        font-size: 1em;
    }

    .main-wrapper .section1 .section1-box p {
        flex: 1;
    }

}

@media screen and (max-width: 1500px) {
    .main-wrapper .section2 .section2-box .flex-item {
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 1100px) {
    #header .logo {
        position: absolute;
        left: 0;
    }

    #header .nav-js .logo {
        visibility: hidden;
    }

    #header .hero-box {
        background: url('../images/hero.jpg') 80% /cover; 
    }

    #header nav.main-nav {
        display: flex;
        justify-content: flex-end;
    }

    #header .main-nav ul li a.nav-item-js {
        padding: 0 15px;
    }

    #header .main-nav .nav-menu li a {
        color: #fff;
        font-size: .8em;
    }

    #header .main-nav .nav-menu {
        display: block;
        height: 100vh;
        width: 0;
        line-height: 45px;
        background: #000000;
        border-radius: 5px;
        transition: .5s;
    }

    #header .main-nav .hamburger-active {
        display: block;
        height: 100vh;
        width: 200px;
        line-height: 45px;
        background: #000000;
        border-radius: 5px;
        transition: .5s;
    }

    #header #hamburger {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }


    #header .nav-js {
        background: transparent;
        border: none;
    }

    #header .logo a svg.fill {
        fill: transparent;
    }
    
    .main-wrapper .section1 .section1-box {
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .main-wrapper .section1 .section1-box .flex-item {
        height: 400px;
        width: 500px; 
    }
}

@media screen and (max-width: 1100px) {
    .main-wrapper .section2 .section2-box {
        flex-direction: column;
        height: 100%;
    }

    #header .hero-box h1 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1100px) {
    .main-wrapper .section3 .social-media h3 {
        font-size: 1em;
    }

    .main-wrapper .section3 .social-media a .fa {
        font-size: 2em;
    }

    .main-wrapper .section3 .social-media a:hover .fa {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 1100px) {
    .main-wrapper footer p {
        font-size: .6em;
    }
}

@media screen and (max-width: 767px) {
    #header .logo {
        height: 50px;
    }

    #header .logo svg {
        height: 30px;
    }

    #header #hamburger {
        font-size: 20px;
        height: 45px;
    }
    
    #header .hero-box h1 {
        font-size: 1.1em;
       padding: 10px;
       min-width: 100%;
    }

    body .main-wrapper { 
        height: 600px;
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper .section1 {
        padding: 0;
    }

    .main-wrapper .section1 .section1-box {
        padding: 0;
    }
    
    .main-wrapper .section1 .section1-box .flex-item {
        height: 200px;
        width: 250px; 
        font-size: .8em; 
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper .section2 .section2-box .flex-item {
        height: 250px;
        width: 250px;
    }

    .main-wrapper .section2 .section2-text-box h2 {
        font-size: 1.2em;
    }

    .main-wrapper .section2 .section2-box p {
        font-size: .6em;
    }
}

@media screen and (max-width: 767px) {
    .main-wrapper .section3 {
        height: 60px;
    }

    .main-wrapper .section3 .social-media h3 {
        font-size: .8em;
    }

    .main-wrapper .section3 .social-media a .fa {
        font-size: 1.5em;
    }

    .main-wrapper .section3 .social-media a:hover .fa {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 440px) {
    #header .hero-box h1 {
        font-size: .8em;
    }
}



