* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 18px/1.5 Georgia, 'Trebuchet MS';
}

/*Header Showcase*/
#header {
    width: 100%;
    position: relative;
    display: flex;
}

#header .hero-box {
    height: 100%;
    width: 100%;
    z-index: 2;
}

#header .hero-box img {
    height: 100%;
    width: 100%;
    z-index: 0;
}

#header .hero-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255,255,0,0), rgba(0,0,0,.9));
    z-index: 10;
}

/*Sunogel Logo*/
#header .logo {
    height: 76px;
    padding: 15px;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 50;
}

#header .logo svg {
    height: 60px;
    transition: .5s;
}

#header .logo a svg:hover {
    fill: #ff6500;
}

/*Hero*/
#header .hero-box h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 15;
    font-weight: 500;
    font-size: 42px;
}

#header .hero-box h1 .hero-headline {
    line-height: 9;
}

#header .hero-box h1 span {
    color: #ff6500;
}

/*Js class additions for logo & nav*/
#header .logo a svg.fill {
    fill: #fff;
    margin-left: 15px;
    transition: .5s;
}

#header .logo a svg.fill:hover {
    fill: #ff6500;
    transition: .1s;
}

#header nav.nav-js {
    background: rgba(0,0,0,0.9);
    border-bottom: 3px solid #fff;
    transition: .5s;
}

#header nav.main-nav ul li a.nav-item-js {
    color: #fff;
    padding: 0 25px;
    height: 72px;
}

#header nav.main-nav ul li a.nav-item-js:hover {
    color: #fff;
    border-radius: 5px;
}

#header nav.main-nav ul li a.nav-item-js:before {
    border-bottom: transparent;
}

/*Navigation*/
#header .main-nav {
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 30;
}

#header .main-nav .nav-menu {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header .main-nav .nav-menu li {
    height: 75px;
    list-style: none;
}

#header .main-nav .nav-menu li a {
    height: 75px;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
    position: relative;
    display: flex;
    align-items: center;
    transition: .5s;
}

#header .main-nav .nav-menu li a:hover {
    color: #ff6500;
}

/*Nav border animation*/
#header .main-nav .nav-menu li a:before {
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    border-bottom: 2px solid transparent;
}

#header .main-nav .nav-menu li a:hover:before {
    animation: animate .3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-bottom-color: transparent;
    }

    100% {
        width: 100%;
        border-bottom-color: #ff6500;
    }
}

#header .main-nav .nav-menu li a.nav-item-js:hover {
    background: linear-gradient(rgb(180,60,0,1), rgb(200,90,0,1));
    transition: .1s;
}


/*Hamburger Icon*/
#header .toggle-hamburger {
    padding: 10px;
    font-size: 25px;
    display: none;
    line-height: 50px;
}

#header .fa-bars {
    cursor: pointer;
}

#header .fa-bars:hover {
    color: #ff6500;
    transition: .5s;
}

/*Main home page content*/
body .main-wrapper {
    width: 100%;
    height: 1000px;
    background: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,0.6)),#3f3f3f;
}


/*Home Section 1*/
.main-wrapper .section1 {
    height: 100%;
    width: 100%;
    display: flex;
    border-top: solid 6px #fff;
}

.main-wrapper .section1-col1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-wrapper .section1 .section1-box {
    width: 700px;
    height: 600px;
    padding: 25px;
}

.main-wrapper .section1 img {
    height: 100%;
    width: 100%;
}

.main-wrapper .section1-col2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 25px;
}

.main-wrapper .section1-col2 p {
    font-size: 30px;
    color: #fff;
}

/*Home Section 2*/
.main-wrapper .section2 {
    height: 100%;
    width: 100%;
    display: flex;
    border-top: 6px solid rgb(252, 49, 49);
}

.main-wrapper .section2-col1 {
    width: 50%;
    padding: 25px;
    font-size: 32px;
    color: rgb(252, 49, 49);
    display: flex;
    align-items: center;
}

.main-wrapper .section2-box {
    padding: 25px;
}

.main-wrapper .section2-col1 h2 {
    text-align: center;
    font-style: italic;
}

.main-wrapper .section2-col1 p {
    text-align: center;
}

.main-wrapper .section2-col2 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 90px 90px;
    background-image: linear-gradient(to left, #ededed 1px, transparent 1px), linear-gradient(to bottom, #f6f6f6 1px, transparent 1px);
}

.main-wrapper .section2-box img {
    height: 700px;
    width: 700px;
    border-radius: 50%;
}

/*Home Section 3 -Social Media*/
.main-wrapper .section3 {
    height: 100px;
    width: 100%;
    background: linear-gradient(#bdc3c7, #3f3f3f);
    display: flex;
    justify-content: center;
}

.main-wrapper .section3 .social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.main-wrapper .section3 .social-media h3 {
    margin-right: 60px;
    color: #ededed;
}

.main-wrapper .section3 .social-media a {
    margin: 0 6px;
}

.main-wrapper .section3 .social-media a .fa {
    font-size: 50px;
    color: #fff;
}


.main-wrapper .section3 .social-media a:hover .fa {
    font-size: 70px;
    transition: .2s;
} 

/*Footer*/
.main-wrapper footer {
    height: 35px;
    display: flex;
    align-items: center;
    background: #000000;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.main-wrapper footer p {
    margin-left: 50px;
    color: #f6f6f6;
}


/*Media Queries*/
@media screen and (max-width: 1920px) {
    #header .hero-box h1 {
        font-size: 32px;
    }

    .main-wrapper .section1 .section1-box {
        width: 600px;
        height: 500px;
    }
    
    .main-wrapper .section1-col2 p {
        font-size: 24px;
    }
    
    .main-wrapper .section2-col1 {
        font-size: 1.2em;
    }

    .main-wrapper .section2-box img {
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 1400px) {
    #header .logo svg {
        height: 50px;
    }

    #header .hero-box h1 {
        font-size: 24px;
    }

    #header .main-nav .nav-menu li a {
        font-size: 15px;
    }

    body .main-wrapper {
        height: 800px;
    }

    .main-wrapper .section1 .section1-box {
        width: 400px;
        height: 300px;
    }

    .main-wrapper .section1-col2 p {
        font-size: 18px;
    }

    .main-wrapper .section2-col1 {
        font-size: 1em;
    }

    .main-wrapper .section2-box img {
        height: 350px;
        width: 350px;
    }

    .main-wrapper .section3 .social-media h3 {
        font-size: 1em;
    }

    .main-wrapper .section3 .social-media a .fa {
        font-size: 32px;
    }

    .main-wrapper .section3 .social-media a:hover .fa {
        font-size: 45px;
    }

    .main-wrapper footer p {
        font-size: 15px;
    }
}

@media screen and (max-width: 1100px) {
    body .main-wrapper {
        height: 600px;
    }

    #header .logo svg {
        height: 40px;
    }
    
    #header .hero-box h1 {
        font-size: 15px;
    }

    /*Hamburger Menu*/
    #header .toggle-hamburger {
        display: block;
    }

    #header .main-nav .nav-menu li a {
        display: none;
    }

    #header .main-nav {
        display: flex;
        justify-content: flex-end;
    }

    #header .main-nav .active {
       display: block;
       height: 375px;
       width: 300px;
       line-height: 45px;
       background: #000000;
       border-radius: 5px;
       animation: pull-left 1s forwards;
    }

    @keyframes pull-left {
        0% {
            width: 0;
        }

        100% {
            width: 300px;
        }
    }

    #header .main-nav .active li a {
        display: block;
        color: #fff;
        border-bottom: solid 1px #fff;
    }

    #header .logo {
        position: absolute;
    }

    #header .logo a svg.fill {
        fill: #000000;
        margin-left: 0;
    }

    #header nav.nav-js {
        background: none;
        border: none;
    }

    #header nav.main-nav ul li a.nav-item-js {
        height: 75px;
        padding: 15px;
    }
    #header .main-nav .nav-menu li a.nav-item-js:hover {
        background: none;
        color: #ff6500;
        border-radius: 0;
        transition: .5s;
    }

    #header .main-nav .nav-menu li a:hover {
        color: #ff6500;
    }

    #header .main-nav .nav-menu li a:hover:before {
       border: none;
    }

    /*Section 1*/
    .main-wrapper .section1 .section1-box {
        width: 300px;
        height: 250px;
    }

    .main-wrapper .section3 .social-media h3 {
        font-size: 1em;
    }

    .main-wrapper .section3 .social-media a .fa {
        font-size: 32px;
    }

    .main-wrapper .section3 .social-media a:hover .fa {
        font-size: 45px;
    }

    .main-wrapper footer p {
        font-size: 15px;
    }
}